@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.typed-text {
  overflow: hidden; /* Hide overflow to create the typing effect */
  white-space: nowrap; /* Prevent line breaks */
  animation: typing 3s steps(40), color-change 15s infinite;
}

@keyframes typing {
  from {
    width: 0; /* Start with zero width */
  }
  to {
    width: 100%; /* Increase width to show full text */
  }
}

@keyframes color-change {
  0%, 20% {
    color: red; /* Change color to red */
  }
  20%, 40% {
    color: green; /* Change color to green */
  }
  40%, 60% {
    color: blue; /* Change color to blue */
  }
  60%, 80% {
    color: orange; /* Change color to orange */
  }
  80%, 100% {
    color: purple; /* Change color to purple */
  }
}

